
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');


/* To write variables */
:root{
    --custom-color: rgb(87, 81, 81);
    --padding: 14px;
    --btn-padding: 8px;
    --big-font-size: 2.5em;
  --small-font-size:0.8em;
    --medium-font-size: 1.0em;
    --input-padding: 10px 25px;
    --border-radius: 8px;
    --margin-bottom: 15px;
    --border: 1px solid rgb(3, 29, 37);
    --margin-top: 15px;
    --misc-color: #062741;
/*   --misc-color-three: #4e4b4; */
   --misc-color-three: #fff;
  --misc-color-four: #141010;
  --misc-color-two: rgb(244, 244, 244);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  


header{
/*   border: 2px solid blue; */
  text-align: center;
  
  color: black;
  padding: var(--padding);
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  
 text-shadow: 4px 4px 4px #808080 ;
/*   margin-top: var(--margin-top); */
  background-color: var(--misc-color-three)
/*   background-image: linear-gradient(to right,#636363,#a2ab58 ); */
}
body {
  font-size: 16px;
  font-family: 'Montserrat', 'Varela Round', sans-serif;
/*   background-color: var(--misc-color-two); */
}

.container{
/*   height: 500px;
  width: min(100%, 1200px); */
  background-color: var(--misc-color-two);
/*   border: 2px solid red; */
  padding: 10px;
  overflow: auto;
  margin: 0 auto;
/*   background-image: linear-gradient(to right,#1d2b64,#f8cdda ); */
}



form {
/*   height: 400px; */
  width: min(100%, 400px);
/*   border: 2px solid green; */
  margin: 10px auto;
/*   margin-bottom: 0px; */
/*   background-color: var(--misc-color-three) */
  
/*   border-radius: var(--border-radius); */
}

.form--grp{
/*   border: 1px solid black; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form--grp label{
  font-size: var(--small-font-size);
}

.form--label{
  font-size: 1.4rem;
  padding: 20px;
  margin-bottom: 10px;
}

.form--input{
  padding: 20px;
  border-radius: var(--border-radius);
  height: 25px;
  width: 100%;
  border: none;
  margin-top: 10px;
  border-bottom: 1px solid black;
}
#email::placeholder, #usermessage::placeholder{
 font-family: 'Montserrat', 'Varela Round', sans-serif;
  font-size: var(--small-font-size);
} 
.container>h1, .container>p{
  text-align: center;
}

.container>p{
  font-size: var(--small-font-size);
}

.container::-webkit-scrollbar {
    display: none;
}

form::-webkit-scrollbar {
    display: none;
}

#btn-submit {
  border: none;
  align-self: center;
  justify-self: center;
  width: 30%;
    margin-top: var(--margin-top);
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    background-color: var(--misc-color-three);
    color: #000;
    font-size: var(--small-font-size);
  font-weight: bold;
  
    cursor: pointer;
    transition: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 30px, rgba(0, 0, 0, 0.5) -6px -6px 30px;
}

#btn-submit:hover{
  font-size:var(--medium-font-size) ;
  box-shadow: none;
}

form textarea{
    border: none;
  margin-top: 10px;
    width: 100%;
    outline: none;
    border-bottom: 1px solid black;
   font-family: 'Montserrat', 'Varela Round', sans-serif;
}
textarea{
  resize: none;
   border-radius: var(--border-radius);
  padding: 20px;
  font-size: var(--small-font-size);
}


input:focus, textarea:focus {
  border: 2px solid #000;
  
}

.stats--wrapper{
  margin: 0px auto;
  width: min(100%, 400px);
  font-size: var(--small-font-size);
}

.stats--wrapper h3{
  text-align: center;
  font-size: var(--medium-font-size);
}

